<div *ngIf="contact" routerLink="/conversation/{{ contact.uid }}">
  <img src="assets/img/logo_live_online.png" class="icon" />
  <b>{{ contact.nick }}</b> - {{ contact.subnick || 'No subnick' }}
  <small>{{ contact.email }}</small>
</div>
