<div id="menuContainer">
  <div class="item branding" routerLink="/home">
    <img id="main-logo" src="assets/img/logo_live.png" alt="Logo de serramsn" />
    SerraMsn
  </div>
  <div class="item" routerLink="/profile">
    Profile
  </div>
</div>
